* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/Beautics/static/system_img/back-img/3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.login-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.294);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    backdrop-filter: blur(8px);
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.form-group {
    margin-bottom: 25px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #e3e3e3;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: #007bff;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    margin-left: 5px;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #0056b3;
}